*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}
.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.logobox {
  height: 45vmin;
  width: 45vmin;
  border-radius: 50%;
}

.logoHelper {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.scarab-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
  border-radius: "50%";
  boxshadow: "0px 10px 12px black";
}

.logo-text {
  color: #ffffff;
  font-size: 48px;
  text-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingText {
  margin-top: 20px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.subHeadingText {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.main-paragraph {
  background-color: #000000;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.underline p:hover {
  border-bottom: 2px solid #21bf96 !important;
  cursor: pointer;
}
